<div class="container">
    <h1 class="title">Urmatoarele Turnee</h1>
    <p-divider layout="horizontal" [style]="{'border-top':'1px var(--red-color)'}"></p-divider>
    <div class="content">
        <div class="p-card card p-2" *ngFor="let tournament of allTournaments">
            <div class="header">
                <p-avatar image="{{tournament.logo}}" size="xlarge"/>
                <div class="subheader">
                    <h2>{{tournament.name}}</h2><br>
                    {{formatDate(tournament.period[0], 'shortDate', 'ro-RO') + ' - ' + formatDate(tournament.period[1], 'shortDate', 'ro-RO')}}
                    <p>{{tournament.court + ' | ' + tournament.city}}</p>
                </div>
            </div>
            <div class="buttons">
                <p-button size="small" label="Disponibil"
                          [style]="{'font-size':'.75rem','max-width':'5.5rem','padding':'.75rem'}"></p-button>
                <p-button size="small" label="Refuza" styleClass="p-button-secondary"
                          [style]="{ 'margin-left': '.75rem','font-size':'.75rem','max-width':'4.5rem','padding':'.75rem' }"></p-button>
            </div>
        </div>
    </div>
</div>