.header{
  display:flex;
  flex-direction:column;
  justify-content: start;
  align-items:center;
}

.card{
  background:black;
  border:1px solid var(--red-color);
  color:var(--text-color);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width:250px;
}

.subheader{
  display:flex;
  flex-direction:column;
  line-height: .75rem;
  justify-content:center;
  align-items:center;
}

.title{
  color:var(--text-color);
  text-align:center;
  margin-top:27px;
}

.buttons{
  display:flex;
  flex-direction: row;
  margin-top:1rem;
}
