.navbar{
  position:fixed;
  top:1%;
  width:100%;
  background-color:transparent;
  margin-top:1rem;
}

.dashboard-menu{
  margin-top:5rem;
}

.title{
  position:absolute;
  left:50%;
  transform:translate(-50%,0);
  top:-23%;
}

.icon{
  font-size:2rem;
  color:var(--text-color);
  cursor:pointer;
}