<div class="container">
  <h1 class="title">Profil</h1>
  <p-divider layout="horizontal"></p-divider>
</div>
<ng-template #content>
  <div class="avatar">
    <img style="border-radius:50%" [src]="user.photo ? user.photo : defaultAvatar" width="150" alt="profile-photo">
    <p>{{ user.fName + ' ' + user.lName }}</p>
  </div>
  <div class="flex justify-content-center">
    <h3 *ngIf="user.profileUpdated!=today" style="color:red;text-align:center;padding: 0 10px">Te rog sa actualizezi
      datele personale pentru a
      avea acces in aplicatie.</h3>
  </div>
  <form [formGroup]="userFormUpdate"
        (ngSubmit)="onSubmitUpdate()">
    <div class="form">
      <div class="user">
            <span class="p-float-label div">
                        <input pInputText id="email" formControlName="email"/>
                        <label for="email">Email</label>
            </span>
        <span class="p-float-label div">
                        <input pInputText id="fName" formControlName="fName"/>
                        <label for="fName">Nume</label>
                     </span>
        <span class="p-float-label div">
                        <input pInputText id="lName" formControlName="lName"/>
                        <label for="lName">Prenume</label>
                     </span>
        <span class="p-float-label div">
                        <p-inputMask mask="9999-999-999" formControlName="phone" id="phone"></p-inputMask>
                        <label for="phone">Telefon</label>
                     </span>
        <span class="p-float-label div">
                        <input pInputText id="jerseyNumber" formControlName="jersey"/>
                        <label for="jerseyNumber">Marime tricou</label>
                     </span>
        <span class="p-float-label div">
                        <input pInputText id="shorts" formControlName="shorts"/>
                        <label for="shorts">Marime short</label>
                     </span>
        <span class="p-float-label div">
                        <input pInputText id="scheduledName" formControlName="scheduledName"/>
                        <label for="shorts">Nume program</label>
                     </span>
      </div>
    </div>
    <div class="button">
      <p-button [disabled]="!userFormUpdate.valid" type="submit" label="Salveaza"
                [text]="true"></p-button>
    </div>
  </form>
</ng-template>
<app-loader *ngIf="loading;else content"/>
<p-toast/>
