<div class="loading-container" *ngIf="loading;else container">
  <app-loader/>
</div>
<ng-template #container>
  <div class="container">
    <div class="images">
      <p-image loading="lazy" class="logo-photo" alt="ambb-logo" [src]="logo" width="400" height="400"></p-image>
      <div class="profile-photo">
        <p-image loading="lazy" [src]="user.photo ? user.photo : logo" alt="Poza arbitru" width="150"></p-image>
      </div>
    </div>
    <div class="menu-button" routerLink="events">
      <label class="label">
        <span>
          <i class="pi pi-calendar label-icon">
          </i>
        </span>
        Turnee
      </label>
      <i class="pi pi-angle-right icon"></i>
    </div>
    <div class="menu-button" routerLink="nominations">
      <label class="label">
        <span>
          <i class="pi pi-file label-icon">
          </i>
        </span>
        Nominalizari
      </label>
      <i class="pi pi-angle-right icon"></i>
    </div>
    <div class="menu-button" routerLink="history">
      <label class="label">
        <span>
          <i class="pi pi-history label-icon">
          </i>
        </span>
        Istoric
      </label>
      <i class="pi pi-angle-right icon"></i>
    </div>
    <div class="menu-button" [routerLink]="['profile', userId]">
      <label class="label">
        <span>
          <i class="pi pi-user label-icon">
          </i>
        </span>
        Profil
      </label>
      <i class="pi pi-angle-right icon"></i>
    </div>
    <div *ngIf="isAdmin" class="menu-button" routerLink="dashboard">
      <label class="label">
        <span>
          <i class="pi pi-external-link label-icon">
          </i>
        </span>
        Dashboard
      </label>
      <i class="pi pi-angle-right icon"></i>
    </div>
    <div class="menu-button" (click)="signOut()">
      <label class="label">
        <span>
          <i class="pi pi-user label-icon">
          </i>
        </span>
        Sign Out
      </label>
      <i class="pi pi-sign-out icon"></i>
    </div>
  </div>
  <div class="background-image">
  </div>
</ng-template>
