<div class="container">
    <h2 class="title">Istoric</h2>
    <p-divider layout="horizontal"></p-divider>
</div>

<div *ngIf="!loading;else loader">
    <p-tabView>
        <p-tabPanel header="Turneele mele">
            <ng-template pTemplate="content">
                <p-accordion>
                    <p-accordionTab *ngFor="let year of personalYears" header="{{year}}">
                        <div class="content">
                            <div *ngFor="let tournament of personalHistory">
                                <div class="p-card card p-2" *ngIf="tournament.year===year"
                                     (click)="openDialog(tournament)">
                                    <div class="header">
                                        <p-avatar image="{{tournament.tournaments.logo}}" shape="circle" size="large"/>
                                        <div class="subheader">
                                            <p class="tournament-name"><strong>{{tournament.tournaments.name}}</strong>
                                            </p>
                                            <p class="location-date"> {{tournament.tournaments.court + ' | ' + tournament.tournaments.city}}</p>
                                            <p class="location-date">{{formatDate(tournament.tournaments.period[0], 'shortDate', 'ro-RO')}}
                                                -{{ formatDate(tournament.tournaments.period[1], 'shortDate', 'ro-RO')}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Toate turneele">
            <ng-template pTemplate="content">
                <p-accordion>
                    <p-accordionTab *ngFor="let year of years" header="{{year}}">
                        <div class="content">
                            <div *ngFor="let tournament of allHistory">
                                <div class="p-card card p-2" *ngIf="tournament.year===year"
                                     (click)="openDialog(tournament)">
                                    <div class="header">
                                        <p-avatar image="{{tournament.tournaments.logo}}" shape="circle" size="large"/>
                                        <div class="subheader">
                                            <p class="tournament-name"><strong>{{tournament.tournaments.name}}</strong>
                                            </p>
                                            <p class="location-date"> {{tournament.tournaments.court + ' | ' + tournament.tournaments.city}}</p>
                                            <p class="location-date">{{formatDate(tournament.tournaments.period[0], 'shortDate', 'ro-RO')}}
                                                -{{ formatDate(tournament.tournaments.period[1], 'shortDate', 'ro-RO')}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>
<ng-template #loader>
  <app-loader/>
</ng-template>

