<h1 class="title">Nominalizari</h1>
<p-divider layout="horizontal"></p-divider>
<div *ngIf="loading;else data">
  <app-loader/>
</div>
<ng-template #data>
  <app-tournaments-nominations *ngIf="allTournaments.length;else empty"
                               [tournaments]="allTournaments"></app-tournaments-nominations>
  <ng-template #empty>
    <div class="flex flex-column justify-content-center align-items-center mt-8">
      <img
        src="/assets/3x3%20refs.png"
        width="400px" style="filter:grayscale(100%)"/>
      <h1 class="text-center">Momentan nu ai nicio nominalizare.</h1>
    </div>
  </ng-template>
</ng-template>

