<div class="flex flex-wrap align-items-center overflow-hidden md:h-screen">
  <div class="flex-1 justify-content-center sm:flex hidden">
    <div class="flex-1" style="position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:50%;
  height: 100% !important;">
      <img src="/assets/paris olimpique.png" width="100%" height="100%"/>
    </div>
    <img style="margin-bottom:10px" src="../../../assets/AMBB_coin_2024-01.png" width="300px" alt="poza" class="logo"/>
  </div>
  <div class="sm:hidden flex-1 justify-content-center flex mt-8">
    <img style="margin-bottom:10px" src="../../../assets/AMBB_coin_2024-01.png" width="300px" alt="poza" class="logo"/>
  </div>
  <div class='flex-1 justify-content-center flex' style="margin-top:10px">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="flex flex-column align-items-center justify-content-center">
        <h1 class="mb-8 hidden md:block">AMBB 3x3 REFEREE APP</h1>
        <span class="p-float-label">
                <input pInputText id="email"
                       formControlName="email"/>
                <label for="email">Email</label>
                </span>
        <span class="p-float-label" style="margin-top: 32px;margin-bottom: 32px;">
                <p-password [feedback]="false" [toggleMask]="false" id="password"
                            formControlName="password"></p-password>
                <label for="password">Password</label>
                </span>
        <div class="flex justify-content-center checkbox" style="margin-bottom:1rem;">
          <p-checkbox (onChange)="saveCredentials($event)" [binary]="true" formControlName="isChecked"
                      label="Salveaza datele de logare" inputId="checkbox"></p-checkbox>
        </div>
        <p-button [loading]="loading" [disabled]="!loginForm.valid" type="submit" [text]="true"
                  label="Log in"></p-button>
      </div>
    </form>
  </div>
</div>
<p-toast [breakpoints]="{'920px': {width: '90%', right: '0'}}"></p-toast>
